.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 36px;
  box-sizing: border-box;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  user-select: none;
  s &:active {
    opacity: 0.75;
  }
}
.normal {
  width: 160px;
}
.min {
  width: 80px;
  height: 30px;
}
.square {
  width: 30px;
  height: 30px;
}
.default {
  border: 1px solid var(--bgLight);
  background: inherit;
  color: var(--white);
  &:disabled {
    border: 1px solid var(--violet);
    cursor: not-allowed;
  }
}
.primary {
  border: none;
  background: var(--bgLight);
  color: var(--white);
  &:disabled {
    cursor: not-allowed;
    background: var(--violetLight);
  }
}
