.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: overlay;
}
.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}
.purple {
  color: var(--purple);
}
