.list {
  width: 100%;
  border-spacing: 0 5px;
  border-collapse: separate;
  .header {
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--violet);
    color: var(--white);
    pointer-events: none;
    .cell:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    .cell:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
    .cell {
      text-align: start;
      vertical-align: middle;
    }
  }

  .row {
    width: 100%;
    overflow: hidden;
    min-height: 30px;
    font-size: 12px;
    font-weight: 400;
    color: var(--grayLight);

    .cell {
      vertical-align: middle;
    }
  }

  .pointer {
    cursor: pointer;
  }
}
