:root {
  --black: #151d48;
  --white: #fff;
  --bg: linear-gradient(180deg, #eff2f6 0%, #e9effb 100%, #eaeefa 100%);
  --violet: #5d5fef;
  --violetLight: #a8a9ef;
  --red: #fa5a7d;
  --redLight: #ffe2e5;
  --orange: #ff947a;
  --orangeLight: #fff4de;
  --green: #3cd856;
  --greenLight: #dcfce7;
  --purple: #bf83ff;
  --purpleLight: #f3e8ff;
  --blue: #4079ed;
  --blueLight: #ebf0fc;
  --gray: #737791;
  --grayDark: #425166;
  --grayLight: #7b91b0;
  --grayLight2: #eaeefa;
  --yellow: #ffd35f;
  --yellowLight: #faefd4;
}
