.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--bg);
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--bgLight);
    font-size: 16px;
    & > div:first-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 10px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    gap: 10px;
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      & > .leftSide {
        display: flex;
        gap: 5px;
      }
      .title {
        font-size: 14px;
      }
    }
    .taskList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: var(--bgLight);
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      gap: 12px;
    }
    .noTasks {
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }
}
